<% provide(:title, @employee.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @employee.name %>
      </h1>
    </section>
    <% if current_user?(@employee) %>
      <%= link_to "Update My Profile", edit_employee_path, class: "btn btn-small btn-warning" %>
    <% end %>
    <br><br>
    <% if current_user?(@employee) %>
        <%= link_to "Add Calendar Event", new_event_path, class: "btn btn-small btn-primary" %>
     <% end %>
  </aside>
  <div class="offset1 span5">
    <% if @employee.events.any? %>
      <h3>Upcoming Events (<%= @employee.events.start_range(Time.now).count %>)</h3>
      <div class="events">
          <%= render @events %>
      </div>
      <%= will_paginate @events %>
    <% end %>
  </div>
</div>
