<% provide(:title, @employee.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @employee.name %>
      </h1>
    </section>
    <% if current_user?(@employee) %>
      <%= link_to "Update My Profile", edit_employee_path, class: "btn btn-xs btn-warning" %>
    <% end %>
    <br>
    <br>
    <% if current_user?(@employee) %>
        <%= link_to "Add Calendar Event", new_event_path, class: "btn btn-xs btn-primary" %>
     <% end %>
  </aside>
<div class="span8">
    <% if @employee.events.any? %>
      <h3>Events (<%= @employee.events.count %>)</h3>
      <ol class="events">
        <%= render @events %>
      </ol>
      <%= will_paginate @events %>
    <% end %>
</div>
</div>
